.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
}

.nav-links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #38bdf8;
}
