.sidebar {
  width: 220px;
  height: 100vh;
  background: #0f172a;
  color: white;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #38bdf8;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar a {
  text-decoration: none;
  color: #cbd5f5;
  padding: 10px;
  border-radius: 8px;
  transition: 0.2s;
}

.sidebar a:hover {
  background: #1e293b;
  color: white;
}
